.loginBtn {
  width: 100%;
  padding: 0.5rem 2rem;
  margin: 0.5rem auto;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  background-color: var(--primary-color);
  border: none;
}

.signUpLink {
  text-decoration: none;
  color: white;
}

.form {
  width: 24rem;
}

.form > div {
  width: 24rem;
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
}

.form > div > input {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.253);
  background-color: aliceblue;
}
/*login*/
.loginBtn {
  width: 100%;
  padding: 0.5rem 2rem;
  margin: 0.3rem auto;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  background-color: var(--primary-color);
  border: none;
}

.signUpLink {
  text-decoration: none;
  color: white;
}

/*signUp*/
