.primary {
  font-size: 1.5rem;
  padding: 1rem 5rem;
  border-radius: 50px;
  margin: auto;
  background-color: rgba(255, 0, 0, 0.781);
  border: none;
}

.primary > * {
  text-decoration: none;
  color: white;
}

button {
  cursor: pointer;
}

button:hover {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.247);
}
