.title {
  color: #ec3a2a;
  font-weight: 500;
  font-size: 2.3rem;
  cursor: pointer;
}
ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  height: 5rem;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 0;
  overflow: hidden;
  height: 5rem;
}

.subHeader {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.788);
  padding: 10px 32px;
  margin: 0;
}
.subHeader:hover {
  border-radius: 24px;

  border: none;
  background-color: rgba(100, 100, 100, 0.048);
  color: rgb(0, 0, 0);
}

.login {
  text-decoration: none;
  color: white;
  background-color: rgba(255, 0, 0, 0.781);
  padding: 10px 20px;
  font-size: large;
  font-weight: 500;
  border-radius: 25px;
  border: none;
}

.login:hover {
  display: inline-block;
  transition: all 0.8s 0.2s;
  transform: translateY(-10px);
}

.intro {
  text-align: center;
  margin: 5rem auto;
  padding: auto;
  font-size: 4rem;
  color: rgb(245, 235, 179);
  display: block;
  overflow: hidden;
  animation: slideUp 1.3s forwards;
  animation-play-state: running;

  @media (min-width: 1200px) {
    width: 55rem;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  60% {
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

article {
  display: flex;
  flex-direction: column;
  padding: 8rem;
  text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.055);
  background-image: url(/images/walid.jpg);
  margin-top: 4rem;
}

.section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin: 8rem 4rem;
}

.section > section > h1 {
  color: rgba(255, 0, 0, 0.699);
  font-size: 2rem;
}
.section > section > p {
  color: rgb(104, 104, 104);
  font-size: 1.2rem;
}
.img {
  width: 20rem;
}

footer {
  display: flex;
  height: 10rem;
  color: white;
  justify-content: center;
  align-items: center;
  background-color: rgb(126, 126, 126);
}
