.container {
  height: 45rem;
  display: grid;
  grid-template-columns: 0.5fr auto;
}

.projectSection {
  padding: 2rem;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  margin: auto 0;
}
